/* TextCarousel.css */

.announcement-container {
    width: 100%; /* Adjust as needed */
    max-width: 100; /* Adjust as needed */
    margin: 0 auto;
    position: relative;
    padding-top: 8px;
}

.announcement {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.announcement-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.announcement-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    background: #98d2e9;
    border: 1px solid #ddd;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-shadow:2px 2px 8px rgba(0, 0, 0, 0.2);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
