/* Header.css */

  
  .header-title {
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Title size */
  }
  
  .header-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Use flexbox for horizontal layout */
    gap: 10em;
    background-color: rgb(113, 212, 235);
    padding: 13px;
  }
  
  .header-nav li {
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
    margin-left: 0 20px; /* Space between items */
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .header-nav li:hover {
    text-decoration: underline; /* Underline on hover */
  }